services:
    rabbit:
        image: rabbitmq:3-management
        environment:
            - RABBITMQ_DEFAULT_USER=docker
            - RABBITMQ_DEFAULT_PASS=docker
        ports:
            - '5672:5672'
            - '15672:15672'

    mongo:
        image: mongo:6
        environment:
            - MONGO_INITDB_ROOT_USERNAME=docker
            - MONGO_INITDB_ROOT_PASSWORD=docker
            - MONGO_INITDB_DATABASE=fetch_weather
        ports:
            - '27017:27017'

    python_worker:
        build: ./python_worker
        env_file:
            - .env
        environment:
            RABBITMQ_URL: amqp://docker:docker@rabbit:5672
        depends_on:
            - rabbit
            - nest_api

    json_server:
        build: ./fake_api
        ports:
            - '3000:3000'

    go_worker:
        build: ./go_worker
        env_file:
            - .env
        environment:
            RABBITMQ_URL: amqp://docker:docker@rabbit:5672
        depends_on:
            - rabbit

    nest_api:
        build: ./nest_api
        env_file:
            - .env
        depends_on:
            - mongo
        ports:
            - '3003:3003'

    ollama:
        image: ollama/ollama:latest
        ports:
            - '11434:11434'
        volumes:
            - ./ollama:/root/.ollama
        entrypoint: >
            sh -c "
                ollama serve &
                sleep 2 &&
                ollama pull llama3 &&
                wait
            "
